@font-face {
    font-family: Stem;
    src: url(../fonts/EM-Stem/OTF/Stem-Regular.otf);
    font-weight: normal;
}

@font-face {
    font-family: Stem;
    font-family: Stem;
    src: url(../fonts/EM-Stem/OTF/Stem-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: Stem;
    src: url(../fonts/EM-Stem/OTF/Stem-Medium.otf);
    font-weight: 500;
}

@font-face {
    font-family: Stem;
    src: url(../fonts/EM-Stem/OTF/Stem-Light.otf);
    font-weight: light;
}

body {
    font-family: Stem;
    font-weight: normal;
    color: #000;
}

header {
    /*	position: absolute;*/
    background: #fff;
    z-index: 999;
    width: 100%;
}

.header-firstline {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

section {
    padding: 50px 0;
}

h2 {
    font-size: 36px;
    color: #000;
    text-align: center;
    margin: 0;
}

h3 {
    font-size: 18px;
}

.navbar-toggle .icon-bar {
    background: #000;
}

.nav>li>a:focus,
.nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
    color: #02CDAC !important;
}

.text-center {
    text-align: center;
}

.subtitle {
    font-size: 18px;
    font-weight: medium;
    color: #777;
    text-align: center;
    margin: 15px 0 0 0;
}

.btn-green,
.btn-green:active,
.btn-green:focus {
    background-image: linear-gradient(to top, #00997C 0%, #00BF99 100%);
    border-radius: 10px;
    border-bottom: 2px solid #136455;
    font-size: 18px;
    font-weight: 500;
    padding: 7px 30px;
    color: #fff;
    margin-top: 15px;
    outline: none !important;
}

.btn-green:hover {
    background-image: linear-gradient(to top, #00c7a2 0%, #03e4b7 100%);
    border-bottom: 2px solid #1e9e87;
    color: #fff;
    outline: none !important;
}

.btn-yellow,
.btn-yellow:active,
.btn-yellow:focus {
    background-image: linear-gradient(to top, #FCD029 0%, #FFF273 100%);
    border-radius: 10px;
    border-bottom: 2px solid #B6AA46;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    margin: 20px auto 0;
    outline: none !important;
}

.btn-yellow:hover {
    background-image: linear-gradient(to top, #fdd146 0%, #fff473 100%);
    border-bottom: 2px solid #B6AA46;
    outline: none !important;
}

.white {
    color: #fff;
}

.gray {
    color: #9d9d9d;
}

.bottom-null {
    margin-bottom: 0;
}

.phone {
    font-size: 24px;
    font-weight: bold;
}

.bg-lightblue {
    background: #F3F7F8;
}

.first-screen {
    min-height: 80vh;
    background: url('../img/first-screen-bg.jpg');
    background-size: cover;
    padding: 0;
}


/*
.first-screen:before {
	content: "";
	position: absolute;
	width: 100%;
	min-height: 80vh;
	background: rgba(0, 0, 0, 0.7);
}
*/

.big-text {
    font-family: Stem, PT Sans;
    font-weight: bold;
    font-size: 48px;
    color: #fff;
    margin: 20px auto;
}

.advantages {
    text-align: center;
    margin: 40px 0 0 0;
}

.advantages img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    text-align: center;
}

.advantages p {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    margin: 20px 0 0 0;
}

.blue-block {
    background-image: linear-gradient(-20deg, #00cdac 0%, #8ddad5 100%);
}

.blue-block p {
    font-size: 24px;
    color: #fff;
}

.free-service {
    text-align: center;
    margin: 40px 0 0 0;
}

.free-service img {
    width: 100%;
    height: auto;
    text-align: center;
}

.free-service>.img {
    width: 145px;
    height: 145px;
    display: inline-block;
    vertical-align: middle;
}

.free-service p {
    font-size: 18px;
    text-align: center;
    margin: 20px 0 0 0;
}

.no-parking {
    margin-top: 40px;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}

.no-parking img {
    text-align: right;
    float: left;
    margin-right: 10px;
}

.no-parking p {
    font-size: 16px;
    font-weight: 100;
    margin-top: 2px;
    color: #777;
    overflow: hidden;
}

.header-callback-form {}

.header-callback-form h3 {
    font-size: 24px;
    font-weight: bold;
}

.header-callback-form .modal-body {
    padding: 0 20px 20px;
}

.header-callback-form .modal-header {
    background: #fff;
    border-bottom: 0;
}

.callback-form input {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    height: 50px;
    border-bottom: 3px solid #B8EEEE;
    background: none;
    border-top: 0;
    border-left: 0;
    border-radius: 0;
    border-right: 0;
    box-shadow: none;
    font-size: 20px;
    font-weight: 500;
    color: #004a3e;
    margin: 10px 0;
}

.callback-form input:focus {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    height: 50px;
    border-bottom: 3px solid #fff;
    background: none;
    border-top: 0;
    border-left: 0;
    border-radius: 0;
    border-right: 0;
    box-shadow: none;
    outline: none;
}

input::-webkit-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

input::-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

input:-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

input:-ms-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

input:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

input:focus::-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

input:focus:-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

input:focus:-ms-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

input::-webkit-input-placeholder {
    font-size: 20px;
    color: #B8EEEE;
}

input:-moz-placeholder {
    font-size: 20px;
    color: #B8EEEE;
}

input.callback-form {
    background-image: linear-gradient(to top, #FCD029 0%, #FFF273 100%);
    border-radius: 10px;
    border-bottom: 2px solid #B6AA46;
    font-size: 18px;
    font-weight: bold;
    margin-left: 15px;
    padding: 5px 20px;
}

.rooms {
    /*	width: 270px;*/
    border-radius: 10px;
    padding: 0 0 10px 0;
    margin: 20px 0;
    background: #fff;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(184, 184, 184, 1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(184, 184, 184, 1);
    box-shadow: 0px 0px 15px 0px rgba(184, 184, 184, 1);
}

.rooms img {
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0 0;
}

.rooms p {
    font-size: 16px;
}

.rooms h3 {
    margin: 10px 0 20px;
    font-weight: 100;
}

.body-card {
    padding: 10px 30px;
}

.price {
    color: #ff003c;
    font-weight: bold;
}

.bron {
    width: 100%;
    margin: -5px auto 20px;
}

.bron:focus {
    margin: -5px auto 20px;
}

.subtext {
    font-size: 18px;
    margin: 20px 0 0;
}

.rools {
    font-size: 18px;
    margin-top: 40px;
}

.navbar {
    margin: 0;
    padding: 20px 0 0;
}

.navbar-contacts {
    text-align: right;
    margin: 0 15px;
}

.nav a {
    font-size: 16px;
    font-weight: 500;
    color: #000 !important;
    text-transform: uppercase;
    margin-left: 20px;
}

.scheme {
    background: url('../img/scheme.png') no-repeat;
    background-size: 100%;
    height: 170px;
    width: 100%;
    margin: 30px 0 0 0;
}

footer {
    background: #000;
}

.footer-logo {
    text-align: right;
    margin: 30px 0;
    font-size: 12px;
    color: #fff;
}

.footer-logo img {
    margin: 0 0 10px 0;
}

.social {
    color: #fff;
    margin-top: 20px;
}

.vk-icon {
    background: url(../img/icons/vk.png) no-repeat left center;
    background-size: 15px;
    padding-left: 25px;
}

.address-icon {
    background: url(../img/icons/map-point.png) no-repeat left center;
    background-size: 15px;
    padding-left: 25px;
}

.mail-icon {
    background: url(../img/icons/email.png) no-repeat left center;
    background-size: 15px;
    padding-left: 25px;
}

.phone-icon {
    background: url(../img/icons/phone.png) no-repeat left center;
    background-size: 15px;
    padding-left: 25px;
}

.subtitle-modal {
    font-size: 16px;
    font-weight: 100;
    text-align: center;
}

.modal-header {
    padding: 15px;
    border-radius: 5px 5px 0 0;
    text-align: center;
    background-image: linear-gradient(-20deg, #00cdac 0%, #8ddad5 100%);
}

.modal-footer {
    padding: 20px;
    text-align: right;
    border-top: 0;
}

.modal-backdrop.in {
    filter: alpha(opacity=70);
    opacity: 0.7;
}

.input-style {
    font: inherit;
    color: inherit;
    padding: 10px 0;
    border: 0;
    border-bottom: 2px solid #3AD3BD;
    margin: 10px 0;
    width: 100%;
    outline: none;
    font-size: 24px;
    font-weight: 500;
    transition: .3s;
}

input.input-style::-webkit-input-placeholder {
    font-size: 20px;
    color: #ddd;
}

input.input-style:-moz-placeholder {
    font-size: 20px;
    color: #ddd;
}

.counter {
    margin-bottom: 15px;
}

.counter input,
.counter button {
    width: 30px;
    border-radius: 3px;
    border: 0;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

.select-room {
    padding: 10px;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    border: 0;
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}

.navbar-brand {
    background: url(../img/logo.png) no-repeat 50% 0;
    width: 430px;
    background-size: 70%;
    height: 90px;
}

.navbar-toggle {
    position: absolute;
    right: -20px;
}

@media (max-width: 768px) {
    section {
        padding: 20px 0;
    }
    h2 {
        font-size: 24px;
        color: #000;
        text-align: center;
        margin: 0 0 30px 0;
    }
    h2+.subtitle {
        margin-top: -20px;
    }
    h3 {
        font-size: 16px;
    }
    .subtitle {
        font-size: 16px;
        color: #777;
        text-align: center;
        margin: 15px 0 0 0;
    }
    /*
	.first-screen {
		height: 50vh;
	}
	.first-screen:before {
		height: 300px;
	}
*/
    .big-text {
        font-size: 26px;
        text-align: center;
    }
    .blue-block p {
        font-size: 18px;
    }
    .free-service {
        margin: 0;
    }
    .free-service p {
        font-size: 14px;
        margin: 5px 0 15px;
        font-weight: 100;
    }
    .no-parking {
        margin-top: 15px;
    }
    .no-parking img {}
    .no-parking p {
        font-size: 14px;
    }
    .rools {
        margin-top: 0px;
    }
    .rools p {
        font-size: 14px;
    }
    .free-service>.img {
        width: 100px;
        height: 100px;
        display: inline-block;
        vertical-align: middle;
        background-size: 80% !important;
    }
    .scheme {
        background: url('../img/scheme-vertical.png') no-repeat 50% 0;
        height: 900px;
        width: 100%;
    }
    .counter input,
    .counter button {
        width: 30px;
        border-radius: 3px;
        border: 0;
        text-align: center;
        font-size: 20px;
        font-weight: 500;
    }
    .select-room {
        padding: 10px;
        border-radius: 5px;
        outline: none;
        font-size: 16px;
        border: 0;
        background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
        width: 100%;
    }
    .input-style input {
        font-size: 16px;
    }
    .navbar-brand {
        background: url(../img/logo.png) no-repeat 50% 0;
        background-size: 60%;
        width: 350px;
    }
    .navbar-contacts {
        text-align: center;
        margin: 0 auto 20px;
    }
    .input-style {
        font: inherit;
        color: inherit;
        padding: 5px 0;
        border: 0;
        border-bottom: 2px solid #3AD3BD;
        margin: 10px 0;
        width: 100%;
        outline: none;
        font-size: 24px;
        font-weight: 500;
        transition: .3s;
    }
    .navbar-header {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

#map {
    width: 100%;
    height: 400px;
    background-color: grey;
}

.specific-block {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.footer-elems {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 600px;
        margin: 30px auto;
    }
}

#scrollup {
    position: fixed;
    /* фиксированная позиция */
    opacity: 0.8;
    /* прозрачность */
    padding: 15px 10px 10px;
    /* отступы */
    background: none;
    border-radius: 5px;
    /* скругление углов */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    left: 10px;
    /* отступ слева */
    bottom: 10px;
    /* отступ снизу */
    display: none;
    /* спрятать блок */
    cursor: pointer;
}

.carousel-control-content.left{
    font-size: 100px;
    background: none;
    font-size: 100px;
    /* background: none; */
    position: absolute;
    top: 20%;
    /* bottom: 50%; */
    left: 5%;
    /* width: 15%; */
}

.carousel-control-content.right {
    font-size: 100px;
    background: none;
    font-size: 100px;
    /* background: none; */
    position: absolute;
    top: 20%;
    /* bottom: 50%; */
    right: 5%;
    /* width: 15%; */
}
